body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.map-menu {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 3px;
  width: 40px;

  .btn {
    width: 40px;
    height: 40px;
    background-size: 38px 38px;
    background-color: white;
    background-repeat: no-repeat;
    outline: none;
    border: none;
  }

  .settings-btn {
    @extend .btn;
    background-image: url(../images/ic_settings_applications_black_48dp.png);
  }
  
  .info-btn {
    @extend .btn;
    background-image: url("../images/ic_info_black_48dp.png");
  }

  .close-btn {
    @extend .btn;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    background-image: url("../images/ic_chevron_left_black_48dp.png");
    display: none;
    &.panel-active {
      display: block;
    }
  }

  .map-panel {
    padding:1%;
    display:inline;
  }

  .content {
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    width: 0px;
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 20px;
    background-color: white;
    opacity: 0.8;

    .section {
      width: 227px;
      padding: 10px 20px;
      display: none;
      &.selected {
        display: block;
      }
    }

    h3 {
      padding: 15px;
      margin: 0;
    }

    .layer-selector {
      cursor: pointer;
      padding: 10px;
    }
  }

}

.menu {
  position: fixed;
  z-index: 100;
  background-color: #67b5d1;
  transition: transform 0.3s;
}