//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$walk-short-color: #dd3497;
$walk-med-color: #005a32;
$walk-long-color: #8c96c6;
$font-stack: 'Open Sans', sans-serif;

body {
  margin:0;
  padding:0;
  font-family: $font-stack;
  font-size: 15px;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.icon-btn {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer;
  &.btn-selected {
    background-color: lightgray;
  }
}

.btn {
  font-family: inherit;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  background-color: #005a32;
  color: white;
}

.map-menu {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 3px;
  width: 50px;
  background-color: white;
  //
  //.btn {
  //  padding: 5px;
  //  width: 50px;
  //  height: 50px;
  //  background-size: 40px 40px;
  //  background-color: white;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  outline: none;
  //  border: none;
  //  cursor: pointer;
  //  &.btn-selected {
  //    background-color: lightgray;
  //  }
  //}

  .settings-btn {
    @extend .icon-btn;
    background-image: url("../images/ic_settings_applications_black_48dp.png");

    &.btn-selected {
      background-image: url("../images/ic_settings_applications_white_48dp.png");
    }
  }
  
  .info-btn {
    @extend .icon-btn;
    background-image: url("../images/ic_info_black_48dp.png");

    &.btn-selected {
      background-image: url("../images/ic_info_white_48dp.png");
    }
  }

  .close-btn {
    @extend .icon-btn;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    background-image: url("../images/ic_chevron_left_black_48dp.png");
    display: none;
    &.panel-active {
      display: block;
    }
  }

  .search-btn{
    @extend .icon-btn;
    background-image: url("../images/ic_search_black_48dp.png");
    &.btn-selected {
      background-image: url("../images/ic_search_white_48dp.png");
    }
  }

  .map-panel {
    padding:1%;
    display:inline;
  }

  .content {
    overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    width: 280px;
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 20px;
    background-color: white;
    opacity: 0.8;

    .content-active {
      display: block;
    }

    .content-inactive {
      display: none;
    }

    .section {
      width: 227px;
      padding: 10px 20px;
      display: none;
      &.selected {
        display: block;
      }
    }

    h3 {
      padding: 15px;
      margin: 0;
    }

    .layer-selector {
      cursor: pointer;
      padding: 10px;
      &.selected {
        color: whitesmoke;
      }
    }

    .walk-short-sel.selected {
      background-color: $walk-short-color;
    }

    .walk-med-sel.selected {
      background-color: $walk-med-color;
    }

    .walk-long-sel.selected {
      background-color: $walk-long-color;
    }

    .awesomplete {
      font-family: inherit;
      font-size: 0.9rem;
      display: block;
    }

    .autocomplete-item {
      padding: 10px;
    }
  }

}

.menu {
  position: fixed;
  z-index: 100;
  background-color: #67b5d1;
  transition: transform 0.3s;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.inactive {
  display: none;
}

.overlay {
  position:absolute;
  top:0;
  bottom:0;
  width:100vw;
  height: 100vh;
  z-index: 200;
  background: grey;
  opacity: 0.5;

  .centered {
    z-index: 300;
  }

}

.init-screen {
  color: white;
  opacity: 1;
}

.info {
  @extend .centered;
  z-index: 300;
  width: 60vw;
  height: auto;
  background: white;
  padding: 50px;
  opacity: 1;

  .close-info-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    @extend .icon-btn;
    background-image: url("../images/ic_cancel_black_48dp.png");
  }
}

.position-rel {
  position: relative;
}

//from http://tobiasahlin.com/spinkit/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  //background-color: #333;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}