body {
  margin: 0;
  padding: 0; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.icon-btn, .info .close-info-btn {
  padding: 5px;
  width: 50px;
  height: 50px;
  background-size: 40px 40px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer; }
  .icon-btn.btn-selected, .info .btn-selected.close-info-btn {
    background-color: lightgray; }

.map-menu {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 3px;
  width: 50px;
  background-color: white; }
  .map-menu .btn, .map-menu .settings-btn, .map-menu .info-btn, .map-menu .close-btn, .map-menu .search-btn {
    padding: 5px;
    width: 50px;
    height: 50px;
    background-size: 40px 40px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    cursor: pointer; }
    .map-menu .btn.btn-selected, .map-menu .btn-selected.settings-btn, .map-menu .btn-selected.info-btn, .map-menu .btn-selected.close-btn, .map-menu .btn-selected.search-btn {
      background-color: lightgray; }
  .map-menu .settings-btn {
    background-image: url("../images/ic_settings_applications_black_48dp.png"); }
    .map-menu .settings-btn.btn-selected {
      background-image: url("../images/ic_settings_applications_white_48dp.png"); }
  .map-menu .info-btn {
    background-image: url("../images/ic_info_black_48dp.png"); }
    .map-menu .info-btn.btn-selected {
      background-image: url("../images/ic_info_white_48dp.png"); }
  .map-menu .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    background-image: url("../images/ic_chevron_left_black_48dp.png");
    display: none; }
    .map-menu .close-btn.panel-active {
      display: block; }
  .map-menu .search-btn {
    background-image: url("../images/ic_search_black_48dp.png"); }
    .map-menu .search-btn.btn-selected {
      background-image: url("../images/ic_search_white_48dp.png"); }
  .map-menu .map-panel {
    padding: 1%;
    display: inline; }
  .map-menu .content {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 280px;
    position: absolute;
    top: 0;
    left: 50px;
    bottom: 20px;
    background-color: white;
    opacity: 0.8; }
    .map-menu .content .content-active {
      display: block; }
    .map-menu .content .content-inactive {
      display: none; }
    .map-menu .content .section {
      width: 227px;
      padding: 10px 20px;
      display: none; }
      .map-menu .content .section.selected {
        display: block; }
    .map-menu .content h3 {
      padding: 15px;
      margin: 0; }
    .map-menu .content .layer-selector {
      cursor: pointer;
      padding: 10px; }
      .map-menu .content .layer-selector.selected {
        color: whitesmoke; }
    .map-menu .content .walk-short-sel.selected {
      background-color: #dd3497; }
    .map-menu .content .walk-med-sel.selected {
      background-color: #005a32; }
    .map-menu .content .walk-long-sel.selected {
      background-color: #8c96c6; }

.menu {
  position: fixed;
  z-index: 100;
  background-color: #67b5d1;
  transition: transform 0.3s; }

.centered, .info {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

.inactive {
  display: none; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: grey;
  opacity: 0.5; }
  .overlay .centered, .overlay .info {
    z-index: 300; }

.init-screen {
  color: white;
  opacity: 1; }

.info {
  z-index: 300;
  width: 60vw;
  height: auto;
  background: white;
  padding: 50px;
  opacity: 1; }
  .info .close-info-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url("../images/ic_cancel_black_48dp.png"); }

.position-rel {
  position: relative; }

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/*# sourceMappingURL=tube-walking.css.map */